<div class="homescreen">
    <!-- HEADER -->
    <header class="header">
        <!-- <img src="assets/logo-invomate2-removebg.png" alt="logo" class="logo-small" /> -->
        <div class="auth-buttons" [@fadeSlideIn] class="auth-buttons">
            <button class="btn btn-signin">
                <i class="fa-solid fa-right-to-bracket"></i>
                Sign in
            </button>
            <button class="btn btn-signup">
                <i class="fa-solid fa-user-plus"></i>
                Sign up
            </button>
        </div>
    </header>

    <!-- TABS -->
    <div class="tabs">
        <button class="tab" [class.active]="activeTab === 'invoices'" (click)="setActiveTab('invoices')">
            INVOICES
        </button>

        <button class="tab" [class.active]="activeTab === 'clients'" (click)="setActiveTab('clients')">
            CLIENTS
        </button>
    </div>

    <!-- <div *ngIf="activeTab === 'invoices'" class="tab-content invoices">
        <h2>Invoices</h2>
        <p>Manage your invoices efficiently.</p>
        <button class="main-btn">Create Invoice</button>
    </div> -->

    <!-- <div *ngIf="activeTab === 'clients'" class="tab-content clients">
        <h2>Clients</h2>
        <p>Manage your clients effectively.</p>
        <button class="main-btn">Add Client</button>
    </div> -->


    <!-- MAIN CONTENT -->
    <div class="content">
        <!-- Sidebar -->
        <div *ngIf="activeTab === 'invoices'" class="sidebar invoices">
            <div class="tab-content invoices">
                <ul>
                    <li class="function" [class.active]="activeFunction ==='readInvoices'"
                        (click)="setActiveFunction('readInvoices')">View list of invoices</li>
                    <li class="function" [class.active]="activeFunction ==='createInvoices'"
                        (click)="setActiveFunction('createInvoices')">Create an invoice</li>
                </ul>
            </div>
        </div>

        <!-- Invoice Section -->
        <div *ngIf="activeTab === 'invoices' && activeFunction === 'readInvoices'" class="body-section invoices">
            <div class="section-header invoices">
                <!-- <i class="fa-solid fa-file-invoice-dollar"></i> -->
                <h2>Invoices List</h2>
                <input type="text" placeholder="Search..." class="search-box" />
                <!-- <p>Manage your invoices efficiently.</p>
                <button class="main-btn">Create Invoice</button> -->
            </div>

            <!-- Filters -->
            <div class="filters">
                <button class="btn btn-filter">
                    <i class="fa-solid fa-filter"></i>
                    Filter
                </button>
            </div>

            <!-- Table -->
            <div class="table-container">
                <table class="invoice-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Invoice Number</th>
                            <th>Invoice Date</th>
                            <th>Prepared By</th>
                            <th>Client Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>09874678</td>
                            <td>22-Jan-2025</td>
                            <td>Nguyen Song Bao Thang</td>
                            <td>Bolt Baron</td>
                            <td>Đã thanh toán</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>09874679</td>
                            <td>23-Jan-2025</td>
                            <td>Pham Thi Lan Anh</td>
                            <td>Gear Galaxy</td>
                            <td>Chưa thanh toán</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>09874680</td>
                            <td>24-Jan-2025</td>
                            <td>Minh Tran</td>
                            <td>Nut & Bolt Co.</td>
                            <td>Đã thanh toán</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>09874681</td>
                            <td>25-Jan-2025</td>
                            <td>Hoa Le</td>
                            <td>Steel Supply</td>
                            <td>Đang xử lý</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>09874682</td>
                            <td>26-Jan-2025</td>
                            <td>Nam Vo</td>
                            <td>FastenRight</td>
                            <td>Đã thanh toán</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>09874683</td>
                            <td>27-Jan-2025</td>
                            <td>Quyen Ho</td>
                            <td>Metal Masters</td>
                            <td>Chưa thanh toán</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>09874684</td>
                            <td>28-Jan-2025</td>
                            <td>Hieu Bui</td>
                            <td>Iron Innovations</td>
                            <td>Đã thanh toán</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>09874685</td>
                            <td>29-Jan-2025</td>
                            <td>Thu Nguyen</td>
                            <td>SteelWorks</td>
                            <td>Đang xử lý</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>09874686</td>
                            <td>30-Jan-2025</td>
                            <td>Khanh Do</td>
                            <td>Bolt Bazaar</td>
                            <td>Đã thanh toán</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>09874687</td>
                            <td>31-Jan-2025</td>
                            <td>Tuan Pham</td>
                            <td>MetalMart</td>
                            <td>Chưa thanh toán</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>09874688</td>
                            <td>01-Feb-2025</td>
                            <td>My Le</td>
                            <td>Hardware Hub</td>
                            <td>Đã thanh toán</td>
                        </tr>
                        <!-- <tr *ngFor="let item of invoices; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.invoiceNumber }}</td>
                            <td>{{ item.invoiceDate }}</td>
                            <td>{{ item.preparedBy }}</td>
                            <td>{{ item.clientName }}</td>
                            <td>{{ item.status }}</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>

            <!-- Actions -->
            <div class="action-buttons">
                <button class="btn btn-export_pdf">
                    <i class="fa-solid fa-file-pdf"></i> Export Invoices List (.pdf)
                </button>
                <button class="btn btn-export_xlxs">
                    <i class="fa-solid fa-file-excel"></i> Export Invoices List (.xlsx)
                </button>
            </div>
        </div>

        <div *ngIf="activeTab === 'invoices' && activeFunction === 'createInvoices'" class="body-section invoices">
            <div class="section-header invoices">
                <!-- <i class="fa-solid fa-file-invoice-dollar"></i> -->
                <!-- <h2>Create Invoice</h2> -->
                <!-- <p>Manage your invoices efficiently.</p>
                <button class="main-btn">Create Invoice</button> -->

                <!-- <div class="container my-4" style="background-color: transparent; height: auto; max-width: 1200px; border: solid 1px black;">
                    <div class="row">
                        <div class="col" style="background-color: thistle; height: 10vh;">
                        </div>
                        <div class="col" style="background-color: lightpink; height: 10vh;"> 
                        </div>
                    </div>
                </div> -->
                <div class="container my-4">
                    <div class="card shadow-sm border-0">
                        <div class="row g-5">
                            <div class="col">

                                <div class="card-body" style="width: 400px;">
                                    <h5 class="fw-bold mb-4 text-primary">Billed To</h5>

                                    <div class="mb-3">
                                        <label class="form-label">Client Name</label>
                                        <select class="form-select">
                                            <option selected disabled>Choose...</option>
                                            <option>Client A</option>
                                            <option>Client B</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Client Email</label>
                                        <input type="email" class="form-control" placeholder="">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Client Address</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Company</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card-body">
                                    <h5 class="fw-bold mb-4 text-primary">From</h5>

                                    <div class="mb-3">
                                        <label class="form-label">Your Logo</label>
                                        <div class="" style="display: flex;">
                                            <input type="file" class="form-control" style="width: 300px;">
                                            <button class="btn btn-outline-danger">Remove</button>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Your Name</label>
                                        <input type="text" class="form-control" placeholder="Enter your name">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Company Name</label>
                                        <input type="text" class="form-control" placeholder="Enter company name">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Your Email</label>
                                        <input type="email" class="form-control" placeholder="Enter your email">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Your Address</label>
                                        <input type="text" class="form-control" placeholder="Street, City, Country">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <div *ngIf="activeTab === 'clients'" class="sidebar clients">
            <div class="tab-content clients">
                <ul>
                    <li class="active">View list of clients</li>
                    <li>Create a client</li>
                </ul>
            </div>
        </div>
    </div>