@import "bootstrap/dist/css/bootstrap.min.css";

.homescreen {
  padding: 20px;
  font-family: sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0px;
}

@media print {
  .header {
    display: none !important;
  }
}

.auth-buttons {
  display: flex;
  gap: 30px;

  /* .btn {
    padding: 8px 16px;
    background-color: #0c567a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: #09425c;
    }
  } */
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-signin {
  background-color: #0c567a;
  color: white;
}

.btn-signin:hover {
  background-color: #09425c;
}

.btn-signup {
  background-color: white;
  color: #0c567a;
  border: 2px solid #0c567a;
}

.btn-signup:hover {
  background-color: #0c567a;
  color: white;
}

.tabs {
  margin-top: 50px;
  gap: 10px;
  display: flex;
  background: #f5f8fa;
  padding: 10px 20px;
  border-bottom: 2px solid #e0e0e0;
}

@media print {
  .tabs {
    display: none !important;
  }
}

.tab {
  padding: 10px 30px;
  font-size: 15px;
  font-weight: bold;
  color: #0c567a;
  /* border: 1px solid #0c567a; */
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  transition: 0.3s;
}

.tab:hover {
  background: #c1e1f0;
}

.tab.active {
  background: #0c567a;
  color: white;
}

.content {
  display: flex;
  min-height: 80vh;
}

