<div class="homescreen">
    <!-- HEADER -->
    <header class="header">
        <!-- <img src="assets/logo-invomate2-removebg.png" alt="logo" class="logo-small" /> -->
        <div class="auth-buttons" [@fadeSlideIn] class="auth-buttons">
            <button class="btn btn-signin">
                <i class="fa-solid fa-right-to-bracket"></i>
                Sign in
            </button>
            <button class="btn btn-signup">
                <i class="fa-solid fa-user-plus"></i>
                Sign up
            </button>
        </div>
    </header>

    <!-- TABS -->
    <div class="tabs">
        <button class="tab" [class.active]="activeTab === 'invoices'" (click)="setActiveTab('invoices')">
            INVOICES
        </button>

        <button class="tab" [class.active]="activeTab === 'clients'" (click)="setActiveTab('clients')">
            CLIENTS
        </button>
    </div>

    <!-- <div *ngIf="activeTab === 'invoices'" class="tab-content invoices">
        <h2>Invoices</h2>
        <p>Manage your invoices efficiently.</p>
        <button class="main-btn">Create Invoice</button>
    </div> -->

    <!-- <div *ngIf="activeTab === 'clients'" class="tab-content clients">
        <h2>Clients</h2>
        <p>Manage your clients effectively.</p>
        <button class="main-btn">Add Client</button>
    </div> -->


    <!-- MAIN CONTENT -->
    <div class="content">
        <!-- Sidebar -->
        <app-invoice-sidebar *ngIf="activeTab === 'invoices'" [activeFunction]="activeFunction"
            (activeFunctionChange)="setActiveFunction($event)">
        </app-invoice-sidebar>

        <!-- Invoice Section -->
        <app-invoice-section 
            [activeTab]="activeTab"
            [activeFunction]="activeFunction">
        </app-invoice-section>



        <div *ngIf="activeTab === 'clients'" class="sidebar clients">
            <div class="tab-content clients">
                <ul>
                    <li class="active">View list of clients</li>
                    <li>Create a client</li>
                </ul>
            </div>
        </div>
    </div>